*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Times New', Courier, monospace;    
}

body{
    background-color: #f5f4c8;
}

img{
    max-width: 80px;
    background:rgb(0, 0, 0);
    border-radius: 10px;
}

.head{
    font-family:'Courier New', Courier, monospace;
    height: 101px;
    width: 100%;
    border-radius: 5px;
    font-size: 80px;
    color: rgb(0, 0, 0);
    line-height: 80px;
    padding: 10px;
    font-weight: bold;
}

label.title{
    margin-left: 830px;    
}

.options{
    font-family:'Courier New', Courier, monospace;
    background: #a9d8da;
    height: 101px;
    width: 39%;
    border: 8px solid #060b13dc;
    margin-left: 735px;
    border-radius: 5px;
    margin-bottom: 1px;
}

nav ul{
    float: right;
    margin-right: 20px;
    
    
}

nav ul li{
    display: inline-block;
    line-height: 75px;
    margin: 0 30px;
    
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size:30px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;   
    font-weight: bold;
}

a.active,a:hover{
    background: #aff8ee;
    transition: .5s;
}

#title{
    text-align: center; 
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin-top: 30px;
    text-decoration: underline;
    margin-bottom: 20px;
 }

#description{
    text-align: center; 
    color: rgb(0, 0, 0);
    padding-top: 25px;
    padding-inline: 475px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 35px;
}

.todo{
    text-align: center; 
    color: rgb(0, 0, 0);
    font-size: 70px;
    margin-top: 5px;
    padding: 50px;
    text-decoration: underline;
}

.label1{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 720px;

}

.label2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 300px;

}

.tasks{
    float:left;
    border: 2px;
}

.todocontainer{
    width: 60%;
    margin-left: 460px;

}

.bars{
    margin-top: 30px;
    width: 30%;
    float: left;
    padding: 8px;   
    margin-left: 200px;
    background-color: rgb(8, 8, 8);
}

.h3{
    font-size: 50px;
    text-align: center; 
}

.checkbox{
    margin-left: 20px;
    margin-top: 60px;
    padding: 1px;
}

.complete{
    font-size: 25px;
    text-align: center; 
    font-weight: bold;
    margin-left: 10px;
}

.remove {
  color: rgb(17, 16, 16);
  border: 5px solid #030303dc;
  background: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 300px;
  margin-bottom: 10px;
  padding: 3px;
}

.remove:hover {
  color: rgb(241, 71, 19);
}

.remove:active {
  color: rgb(253, 159, 124);
}


.low{
    background-color: rgb(89, 207, 89);
}
.medium{
    background-color: rgb(241, 180, 67);
}
.high{
    background-color: rgb(243, 49, 49);
}
#completed{
    background-color: gray;
    color: rgb(179, 179, 179);
}

/* CSS FOR DROPDOWN FUNCTIONALITY */
 
  
  .nav li {
    float: left;
    margin-right: 10px;
    position: relative;
    
  }
  
  .dropdown a{
    font-size: 18px;
    
  }
  
  .nav ul {
    background-color: rgb(0, 0, 0);
    background: rgba(19, 16, 16, 0);
    list-style: none;
    position: absolute;
    left: -9999px;
  }
  
  .nav li:hover ul {
    left: 0;
  }
  
  