*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Times New', Courier, monospace;    
}

html{
    margin-bottom: 180px;
}

body{
    background-color: #f5f4c8;
}

img{
    max-width: 80px;
    background:rgb(0, 0, 0);
    border-radius: 10px;
}

.head{
    font-family:'Courier New', Courier, monospace;
    height: 101px;
    width: 100%;
    border-radius: 5px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    line-height: 80px;
    padding: 10px;
    font-weight: bold;
}

.title{
    text-align: center;
    /* margin-left: 500px;     */
}

.options{
    font-family:'Courier New', Courier, monospace;
    background: #a9d8da;
    height: 101px;
    width: 50%;
    border: 8px solid #060b13dc;
    margin-left: auto;
    margin-right: auto;
    width: 48em;
    border-radius: 5px;
    margin-bottom: 1px;
}

.Movierenders {
    margin-left: auto;
    margin-right: auto;
    width: 80em;
}

nav ul{
    float: right;
    margin-right: 50px;
    margin-left: 25px;
    
    
}

nav ul li{
    display: inline-block;
    line-height: 75px;
    margin: 0 25px;
    
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size:25px;
    padding: 7px 1px;
    border-radius: 3px;
    text-transform: uppercase;   
    font-weight: bold;
}

a.active,a:hover{
    background: #aff8ee;
    transition: .5s;
}

#title{
    text-align: center; 
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 30px;
    text-decoration: underline;
    margin-bottom: 20px;
 }

#description{
    text-align: center; 
    color: rgb(0, 0, 0);
    padding-top: 25px;
    padding-inline: 475px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}

.todo{
    text-align: center; 
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 1px;
    padding: 15px;
    text-decoration: underline;
}

.label1{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: auto;
    margin-right: 30px;
    width: 48em;
}

.label2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 48em;
}

.label3{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: auto;
    float: left;
    width: 48em;

}

#todo-form{
    margin-left: auto;
    margin-right: auto;
    width: 48em;
}

#comment{
    margin-left: auto;
    margin-right: auto;
    width: 48em;
}

.tasks{
    float:left;
    border: 2px;
}

.todocontainer{
    width: 70%;
    /* margin-left: 317px; */
    margin-left: auto;
    margin-right: auto;

}

.bars{
    margin-top: 30px;
    width: 30%;
    float: left;
    padding: 8px;   
    background-color: rgb(8, 8, 8);
    margin-left: auto;
    margin-right: 30px;
    width: 20em;

}

.h3{
    font-size: 40px;
    text-align: center; 
}

.textcomment{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.checkbox{
    margin-left: 20px;
    margin-top: 60px;
    padding: 1px;
}

.complete{
    font-size: 20px;
    text-align: center; 
    font-weight: bold;
    margin-left: 10px;
}

.remove {
  color: rgb(17, 16, 16);
  border: 5px solid #030303dc;
  background: #f5f4c8;
  font-size: 20px;
  font-weight: bold;
  margin-left: 200px;
  margin-bottom: 10px;
  padding: 3px;
}

.submit-button {
    color: rgb(17, 16, 16);
  border: 2px solid #030303dc;
  background: #a9d8da;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3px;
}
.submit-button:hover {
    color: rgb(241, 71, 19);
  }
  
.submit-button:active {
    color: rgb(253, 159, 124);
  }

.remove:hover {
  color: rgb(241, 71, 19);
}

.remove:active {
  color: rgb(253, 159, 124);
}


.low{
    background-color: rgb(89, 207, 89);
}
.medium{
    background-color: rgb(241, 180, 67);
}
.high{
    background-color: rgb(243, 49, 49);
}
#completed{
    background-color: gray;
    color: rgb(179, 179, 179);
}

/* CSS FOR DROPDOWN FUNCTIONALITY */
 
  
  .nav li {
    float: left;
    margin-right: 10px;
    position: relative;
    
  }
  
  .dropdown a{
    font-size: 15px;
  }
  
  .nav ul {
    background-color: rgb(0, 0, 0);
    background: #a9d8da;
    width: 105%;
    margin-left: auto;
    list-style: none;
    position: absolute;
    left: -9999px;
    border: 8px solid #060b13dc;
    border-radius: 5px;
    border-top: 0;
  }
  
  .nav li:hover ul {
    left: 0;
  }
  
  